<!DOCTYPE html>
<html>
  <head>

    <!-- external css for map -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMUtezNe4LZwj8WGrPXPgH271PYBZreA8&callback=initMap&libraries=places"async defer></script>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>
    <aside class="sidebar">
      <h1 class="uk-heading-line">Path.</h1>
      <form class="uk-form">
          <div class="uk-margin" uk-margin>
              <input id="pac-input-from" class="uk-input uk-margin-small-bottom .uk-width-2-3" type="text" placeholder="From destination">
              <button class="uk-button">Locate Me</button>
          </div>
        <input id="pac-input-to" class="uk-input uk-margin-bottom" type="text" placeholder="To destination">
        <button class="uk-button uk-button-primary">Find</button>
      </form>
    </aside>
    <div id="map"></div>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
