<!DOCTYPE html>
<html>
  <head>

    <!-- external css for map -->
    <link rel="stylesheet" href="main.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMUtezNe4LZwj8WGrPXPgH271PYBZreA8&callback=initMap&libraries=places"async defer></script>

    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

  <body>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <form><input class="uk-range" type="range"></form>

    <script src="custom.js"></script>

  </body>
</html>
